{{/* chezmoi:template:missing-key=zero */}}
[advice]
	addEmptyPathspec = false

[apply]
	whitespace = fix

[branch]
	sort = -committerdate

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold # line info
	old = red # deletions
	new = green # additions
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[column]
	ui = auto

[commit]
{{- if .git.signingkey }}
	gpgsign = true
{{- end }}
	verbose = true

[core]
	# use cumstom .gitignore and .gitattributes
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

	# [on by default] blank-at-eol: looks for spaces at end of line
	# [on by default] blank-at-eof: looks for blank line at end of file
	# [on by default] spaces-before-tab: looks for spaces before tabs at beginning of line
	# [off by default] indent-with-non-tab: looks for lines that begin with spaces instead of tabs (controlled by tabwidth option)
	# [off by default] tab-in-indent: watches for tabs in the indentation portion of a line
	# [off by default] cr-at-eol: tells git carriage returns at eol are ok
	# a - before means "disable"
	whitespace = blank-at-eol,blank-at-eof,-tab-in-indent,-cr-at-eol,spaces-before-tab,-indent-with-non-tab

	# set git-diff tabsize
	page = 'less -x4'

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true

	autocrlf = input

	{{- if .git.sshCommand }}
	sshCommand = {{ .git.sshCommand }}
	{{- end}}

{{- /* setup credential.helper if possible */}}
{{- if .ui }}
{{- if eq .chezmoi.os "linux" }}
[credential]
	helper = git-credential-libsecret
{{- else if eq .chezmoi.os "darwin" }}
[credential]
	helper = git-credential-osxkeychain
{{- else if eq .chezmoi.os "windows" }}
[credential]
	helper = git-credential-wincred
{{- end }}
{{- else }}
{{- if .work }}
[credential]
	helper = store
{{- end }}
{{- end }}

[diff]
	algorithm = histogram
	colorMoved = plain
	# Detect copies as well as renames
	renames = copies
	indentHeuristic = true
	mnemonicPrefix = true
[diff "sopsdiffer"]
    textconv = sops -d --config /dev/null
[diff "bin"]
	# Use `hexdump` to diff binary files
	textconv = hexdump -v -C

[fetch]
	prune = true
	pruneTags = true
	all = true

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[init]
	defaultBranch = main

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true
	#conflictStyle = zdiff3

[pull]
	rebase = true

[push]
	default = simple
	autoSetupRemote = true

	# Make `git push` push relevant annotated tags when pushing branches out.
	followTags = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[rerere]
	enabled = true
	autoupdate = true

[tag]
{{- if .git.signingkey }}
	gpgSign = true
{{- end }}
	sort = version:refname

[transfer]
	fsckObjects = true

# URL shorthands
{{- if .work }}
[url "https://github.com/"]
{{- else }}
[url "git@github.com:"]
{{- end }}
	insteadOf = "gh:"
	pushInsteadOf = "github:"
	pushInsteadOf = "gh:"
	pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
	insteadOf = "github:"
{{- if .work }}
[url "https://gist.github.com/"]
{{- else }}
[url "git@gist.github.com:"]
{{- end }}
	insteadOf = "gst:"
	pushInsteadOf = "gist:"
	pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
	insteadOf = "gist:"
[url "https://aur.archlinux.org/"]
	insteadOf = "aur:"
[url "ssh+git://aur@aur.archlinux.org/"]
	pushInsteadOf = "aur:"

[user]
	email = {{ .git.email }}
	name = {{ .git.name }}
	{{- if .git.signingkey }}
	signingkey = {{ .git.signingkey }}
	{{- end }}
